<div class="o-grid o-grid--align-middle">

  {{#link-to 'application' class="o-grid-cell g-link-reset"}}
    <h1 class="c-page__headline g-primary u-text-center">
      Particle Hack
    </h1>
  {{/link-to}}

  <nav class="o-grid-cell u-ml-auto">
    <ul class="g-list-reset">
      <li>
        {{#link-to 'about' class="g-link-reset"}}ABOUT{{/link-to}}
      </li>
    </ul>
  </nav>

</div>


{{yield}}
