<div class="u-fill-height o-article-frame">

  <div class="o-grid o-grid--align-middle u-fill">

    {{#link-to 'application' class="o-grid-cell g-link-reset"}}

      <h1 class="o-grid o-grid--align-middle">
        {{svg-icon class="o-grid-cell u-mr2" fileName="icon-atomic-rings--nucleus"}}
        <span class="o-grid-cell">Particle Hack</span>
      </h1>

    {{/link-to}}

    <nav class="o-grid-cell u-ml-auto">
      <ul class="g-list-reset">
        <li>
          {{#link-to
            'about'
            class="c-navbar__nav-link
                   g-link-reset
                   g-caps
                   o-color-shifting
                   o-underline-shifting"
          }}
            About
          {{/link-to}}
        </li>
      </ul>
    </nav>

  </div>
</div>


{{yield}}
