.c-project-card {

}

.c-project-card .c-project-card__content-wrapper {
  outline: none;
}

.c-project-card .c-project-card__image-section:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  box-shadow: 0 0 0.25em 0.125em var(--theme-color__accent-1);
  opacity: 0;
  transition: opacity var(--duration__toggle-opacity) var(--easing__ease-in-sine);
}

.c-project-card .c-project-card__image-section:focus:after,
.c-project-card .c-project-card__image-section:hover:after {
  opacity: 1;
  transition-timing-function: var(--easing__ease-out-cubic);
}


.c-project-card__image-aspect-ratio-placeholder {
  display: block;
  padding-bottom: 56.25%;
}

.c-project-card__image {
  object-fit: cover;
}

.c-project-card .c-project-card__meta-section {
  /*padding-top: 75%;*/
}

