@import "./utilities/_alignment.css";
@import "./utilities/_display.css";
@import "./utilities/_justification.css";
@import "./utilities/_overflow.css";
@import "./utilities/_positioning.css";
@import "./utilities/_sizing.css";
@import "./utilities/_spacing.css";
@import "./utilities/_typography.css";

.u-pointer { cursor: pointer !important; }
