@import "./variables/_animation-duration.css";
@import "./variables/_animation-easing.css";
@import "./variables/_breakpoints.css";
@import "./variables/_colors.css";
@import "./variables/_dimensions.css";
@import "./variables/_spacing.css";

:root {
  --min-width__application: var(--breakpoint-threshold--xSmall);
  --max-width__application: var(--breakpoint-threshold--xLarge);

  /* Max width for "framed content" (i.e. non-presentationl elements of the page) */
  --max-width__framed-content: var(--breakpoint-threshold--medium);

  --height__navbar: 4.2rem;

  --background-color__body: var(--color__dark--700);
  --background-color__navbar: var(--background-color__body);
}
