/* Import variables and fonts first so anything else can reference them */
@import "./_variables.css";
@import "./_fonts.css";


@import "./_elements.css";
@import "./_garnishes.css";
@import "./_object-patterns.css";
@import "./_pages.css";
@import "./_typography.css";
@import "./_ui-components.css";
@import "./_utilities.css";


body {
  background-color: var(--background-color__body);
  color: var(--theme-color__primary);
}

body > .ember-view {
  height: 100%;
  width: 100%;
  min-width: var(--min-width__application);
  max-width: var(--max-width__application);
}
