.o-divider-dots {
  position: relative;
  border: 0;
}

.o-divider-dots::after {
  content: '...';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  letter-spacing: 0.6em;
  transform: translate3d(0, -1em, 0);
  text-align: center;
}
