.p-projects__project-card {
  max-width: 100%;
  width: 10rem;
  height: 10rem;
}

.media-mobile .p-projects__project-card {
  width: 100%;
}

.media-less-than-small-desktop:not(.media-mobile) .p-projects__project-card {
  width: 50%;
  max-width: 100%;
}

