/* -------------- PRIMARY -------------- */
.g-primary--lightest {
  color: var(--theme-color__primary--lightest);
}
.g-bg-primary--lightest {
  background-color: var(--theme-color__primary--lightest);
}

.g-primary--lighter {
  color: var(--theme-color__primary--lighter);
}
.g-bg-primary--lighter {
  background-color: var(--theme-color__primary--lighter);
}

.g-primary {
  color: var(--theme-color__primary);
}
.g-bg-primary {
  background-color: var(--theme-color__primary);
}

.g-primary--darker {
  color: var(--theme-color__primary--darker);
}
.g-bg-primary--darker {
  background-color: var(--theme-color__primary--darker);
}

.g-primary--darkest {
  color: var(--theme-color__primary--darkest);
}
.g-bg-primary--darkest {
  background-color: var(--theme-color__primary--darkest);
}

/* -------------- ACCENT 1 -------------- */
.g-accent-1--lightest {
  color: var(--theme-color__accent-1--lightest);
}
.g-accent-1--lighter {
  color: var(--theme-color__accent-1--lighter);
}
.g-accent-1 {
  color: var(--theme-color__accent-1);
}
.g-accent-1--darker {
  color: var(--theme-color__accent-1--darker);
}
.g-accent-1--darkest {
  color: var(--theme-color__accent-1--darkest);
}


/* -------------- ACCENT 2 -------------- */
.g-accent-2--lightest {
  color: var(--theme-color__accent-2--lightest);
}
.g-accent-2--lighter {
  color: var(--theme-color__accent-2--lighter);
}
.g-accent-2 {
  color: var(--theme-color__accent-2);
}
.g-accent-2--darker {
  color: var(--theme-color__accent-2--darker);
}
.g-accent-2--darkest {
  color: var(--theme-color__accent-2--darkest);
}


/* -------------- ACCENT 3 -------------- */
.g-accent-3--lightest {
  color: var(--theme-color__accent-3--lightest);
}
.g-accent-3--lighter {
  color: var(--theme-color__accent-3--lighter);
}
.g-accent-3 {
  color: var(--theme-color__accent-3);
}
.g-accent-3--darker {
  color: var(--theme-color__accent-3--darker);
}
.g-accent-3--darkest {
  color: var(--theme-color__accent-3--darkest);
}
