:root {
  --theme-color__primary: hsla(180, 84%, 75%, 1.00);

  --theme-color__primary--lightest: color(
    var(--theme-color__primary)
    tint(50%)
  );
  --theme-color__primary--lighter: color(
    var(--theme-color__primary)
    tint(20%)
  );
  --theme-color__primary--darker: color(
    var(--theme-color__primary)
    shade(20%)
  );
  --theme-color__primary--darkest: color(
    var(--theme-color__primary)
    shade(50%)
  );


  --theme-color__accent-1: hsla(262, 51%, 64%, 1.00);

  --theme-color__accent-1--lightest: color(
    var(--theme-color__accent-1)
    tint(50%)
  );
  --theme-color__accent-1--lighter: color(
    var(--theme-color__accent-1)
    tint(20%)
  );
  --theme-color__accent-1--darker: color(
    var(--theme-color__accent-1)
    shade(20%)
  );
  --theme-color__accent-1--darkest: color(
    var(--theme-color__accent-1)
    shade(50%)
  );


  --theme-color__accent-2: hsla(53, 78%, 67%, 1.00);

  --theme-color__accent-2--lightest: color(
    var(--theme-color__accent-2)
    tint(50%)
  );
  --theme-color__accent-2--lighter: color(
    var(--theme-color__accent-2)
    tint(20%)
  );
  --theme-color__accent-2--darker: color(
    var(--theme-color__accent-2)
    shade(20%)
  );
  --theme-color__accent-2--darkest: color(
    var(--theme-color__accent-2)
    shade(50%)
  );


  --theme-color__accent-3: hsla(10, 66%, 63%, 1.00);

  --theme-color__accent-3--lightest: color(
    var(--theme-color__accent-3)
    tint(50%)
  );
  --theme-color__accent-3--lighter: color(
    var(--theme-color__accent-3)
    tint(20%)
  );
  --theme-color__accent-3--darker: color(
    var(--theme-color__accent-3)
    shade(20%)
  );
  --theme-color__accent-3--darkest: color(
    var(--theme-color__accent-3)
    shade(50%)
  );


  --color__dark--100: hsla(249, 9%, 45%, 1.00);
  --color__dark--300: hsla(217, 22%, 35%, 1.00);
  --color__dark--500: hsla(217, 22%, 19%, 1.00);
  --color__dark--700: hsla(217, 21%, 16%, 1.00);
  --color__dark--900: hsla(220, 23%, 3%, 1.00);

  --color__gray--100: hsla(228, 15%, 94%, 1.00);
  --color__gray--300: hsla(231, 12%, 77%, 1.00);
  --color__gray--500: hsla(231, 9%, 60%, 1.00);
  --color__gray--700: hsla(230, 8%, 45%, 1.00);
  --color__gray--900: hsla(231, 10%, 26%, 1.00);

  --color__nearWhite: hsla(0, 0%, 92%, 1.00);
  --color__nearBlack: hsla(0, 0%, 13%, 1.00);

  --color__box-shadow: hsla(0, 0%, 0%, 0.43);
}
