<article class="p-about o-article-frame u-fill c-page">

  <header class="u-mt3 u-mb3">
    <h1 class="p-about__headline u-text-center">About Particle Hack</h1>
  </header>

  <section class="u-pl3 u-pr3">
    <p>
      Particle physics, usually thought of as the domain of multi-million or -billion dollar
      accelerators and detectors, has a more approachable side. You can join in the search
      for a better understanding of the fundamental details of the universe in a variety of ways.
      <i>particlehack.org</i> is designed simply as a directory of ways you can participate in particle
      physics, from simple experiments to do at home, through to more complex data analysis
      challenges in which you can take part.
    </p>

    {{divider-dots class="c-page__divider-dots"}}

    <p>
      <i>particlehack.org</i> is a volunteer-run site based on the idea of
      <a class="c-markup-link o-color-shifting o-underline-shifting" href="https://www.spacehack.org" target="_blank">
        Spacehack
      </a>
      by Ariel Waldman and Lisa Ballard. It's curated by David Harris &mdash; a physicist, journalist,
      and artist who was previously founding editor-in-chief of
      <a class="c-markup-link o-color-shifting o-underline-shifting" href="http://www.symmetrymagazine.org" target="_blank">
        <i>Symmetry Magazine</i>
      </a>
      , an international particle physics magazine &mdash; and built by
      <a class="c-markup-link o-color-shifting o-underline-shifting" href="https://twitter.com/Brian_Sipple" target="_blank">
        Brian Sipple
      </a>
      &mdash; a software engineer, animator, and avid science enthusiast.
    </p>

    <p>
      Any suggestions you have for entries to be included on the site should be
      <a class="c-markup-link o-color-shifting o-underline-shifting" href="mailto:physicsdavid@gmail.com">emailed</a> to David.
    </p>
  </section>

</article>


