<article class="p-about o-article-frame u-fill">

  <header class="u-mt3 u-mb3">
    <h1 class="p-about__headline u-text-center">About Particle Hack</h1>
  </header>

  <section>
    <p>
      Particle physics, usually thought of as the domain of multi-million or -billion dollar
      accelerators and detectors, has a more approachable side. You can join in the search
      for a better understanding of the fundamental details of the universe in a variety of ways.
      particlehack.org is designed simply as a directory of ways you can participate in particle
      physics, from simple experiments to do at home, through to more complex data analysis
      challenges in which you can take part.
    </p>

    <p>
      particlehack.org is a volunteer-run site curated by David Harris, a physicist, journalist,
      and artist who was previously founding editor-in-chief of Symmetry magazine, an
      international particle physics magazine.
      Any suggestions you have for entries to be included on the site should be
      <a class="c-markup-link o-color-shifting o-underline-shifting" href="mailto:physicsdavid@gmail.com">emailed</a> to him.
    </p>

    <p>
      particlehack.org is based on the idea of
      <a class="c-markup-link o-color-shifting o-underline-shifting" href="https://www.spacehack.org" target="_blank">Spacehack</a>
      by Ariel Waldman and Lisa Ballard.
    </p>
  </section>

</article>


