<header>
  {{x-navbar}}
</header>

<main class="c-application__main-content
             o-content-box--lg
             u-relative
             u-fill-height
             u-fill-width">
  {{outlet}}
</main>
