<section class="p-project u-relative u-fill-width">

  <header>
    <img src="{{model.imageURL}}" alt="{{model.title}}">
  </header>

  <section class="p-project__body">

    <h2 class="u-text-center">{{model.title}}</h2>

    {{htmlSafe model.copy}}
  </section>
</section>
