<section class="p-project u-relative u-fill-width">

  <header>
    <h2 class="u-text-center">{{model.title}}</h2>
  </header>

  <section class="p-project__body">
    {{htmlSafe model.copy}}

  </section>
</section>
